{% extends "network/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <style>
        .post {
            border: 2px solid rgb(0, 238, 255);
            border-radius: 8px;
            padding: 10px;
            margin-top: 10px;
            background-color: rgb(108, 214, 250);
        }
        .post h4 a, .post p {
            color: white;
        }

        #heart {
            color: white;
            font-size: 24px;
            cursor: pointer;
        }

        #heart-liked {
            color: red;
            font-size: 24px;
            cursor: pointer;
        }
        .heart-counter {
            display: flex;
        }
        .count {
            margin-left: 10px;
            font-size: 18px;
        }
    </style>
    <script>
        function changeHeart(event) {
            var heart = event.target;
            if (heart.id === 'heart-liked') {
                heart.id = 'heart';
            }
            else {
                heart.id = 'heart-liked';
                fetch('like', {
                    method: 'POST',
                    body: JSON.stringify({
                        post_id: event.target.parentElement.id
                    })
                })
                window.location.reload();
            }
        }
        document.addEventListener('DOMContentLoaded', () => {
            // Change color of the heart and create/destroy like object
            var counts = document.querySelectorAll('.count');
            counts.forEach(count => {
                fetch(`likes/${count.id}`)
                .then(response => response.json())
                .then(result => {
                    count.innerHTML = result;
                });
            })
            try {
                var hearts = document.querySelectorAll('#heart'); 
                hearts.forEach(heart => {
                    heart.addEventListener('click', (event) => {
                        changeHeart(event);
                    })
                });
            } catch {};
            try {
                var hearts = document.querySelectorAll('#heart-liked'); 
                hearts.forEach(heart => {
                    heart.addEventListener('click', (event) => {
                        changeHeart(event);
                    })
                });
            } catch {};

        })
    </script>
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <form action="/" method="POST">
            {% csrf_token %}
            <div id="newpost">
                <h3>New Post</h3>
                <textarea required type="text" name="body" class="form-control" style="margin-bottom:10px;" maxlength="280"></textarea>
                <input type="submit" value="Post" class="btn btn-primary">
            </div>
        </form>
    {% endif %}
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <h4><a href="">{{post.user}}</a></h4>
                <p>{{post.body}}</p>
                <div class="heart-counter" id="{{post.id}}">
                    <i class="fa fa-heart" id="heart"></i>
                    <p class='count' id="{{post.id}}">0</p>
                </div>
                <p style="color:rgb(241, 241, 241);">{{post.timestamp}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}