{% extends "network/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
    <script>
        async function changeHeart(event) {
            var heart = event.target;
            if (heart.id === 'heart-liked') {
                heart.id = 'heart';
                await fetch('like', {
                    method: 'POST',
                    body: JSON.stringify({
                        post_id: event.target.parentElement.id,
                        like: false
                    })
                })
            }
            else {
                heart.id = 'heart-liked';
                await fetch('like', {
                    method: 'POST',
                    body: JSON.stringify({
                        post_id: event.target.parentElement.id,
                        like: true
                    })
                })
            }
            window.location.reload();
        }
        document.addEventListener('DOMContentLoaded', () => {
            // Change color of the heart and create/destroy like object
            var counts = document.querySelectorAll('.count');
            counts.forEach(count => {
                fetch(`likes/${count.id}`)
                .then(response => response.json())
                .then(result => {
                    count.innerHTML = result;
                });
            })
        })
    </script>
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <form action="/" method="POST">
            {% csrf_token %}
            <div id="newpost">
                <h3>New Post</h3>
                <textarea required type="text" name="body" class="form-control" style="margin-bottom:10px;" maxlength="280"></textarea>
                <input type="submit" value="Post" class="btn btn-primary">
            </div>
        </form>
    {% endif %}
    <div id="posts">
        {% for post in posts %}
            <div class="post">
                <h4><a href="/profile/{{post.user.id}}">{{post.user}}</a></h4>
                <p>{{post.body}}</p>
                <div class="heart-counter" id="{{post.id}}">
                    {% if user.is_authenticated %}
                        {% if post in posts_liked_by_user %}
                            <i onclick="changeHeart(event)" class="fa fa-heart" id="heart-liked"></i>
                        {% else %}
                            <i onclick="changeHeart(event)" class="fa fa-heart" id="heart"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-heart" id="heart"></i>
                    {% endif %}
                    <p class='count' id="{{post.id}}">0</p>
                </div>
                <p style="color:rgb(241, 241, 241);">{{post.timestamp}}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}