{% extends 'network/layout.html' %}

{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <script>
        async function handleFollow(user_from_page_id, follow) {
            await fetch(`/profile/${user_from_page_id}`, {
                method: 'POST',
                body: JSON.stringify({
                    follow: follow,
                })
            });
            window.location.reload();
        }
    </script>
    <h1>{{ user_from_page.username }}</h1>
    <div sytle="display:flex" style="margin-bottom:10px;">
        <h5 class="fit">Followers: {{user_from_page.followers}}</h5>
        <h5 class="fit" style="margin-left:20px;">Following: {{user_from_page.following}}</h5>
    </div>
    {% if user.is_authenticated %}
        {% if not user.id == user_from_page.id %}
            {% if user_followed_page_user %}
                <button class="btn btn-danger" onclick="handleFollow('{{user_from_page.id}}', false)">Unfollow</button>
            {% else %}
                <button class="btn btn-primary" onclick="handleFollow('{{user_from_page.id}}', true)">Follow</button>
            {% endif %}
        {% endif %}
    {% endif %}
    <hr>
    <div id="posts">
        {% for post in posts %}
            <div class="post" id="{{post.id}}">
                <h4><a href="">{{post.user}}</a></h4>
                <p id="c{{post.id}}">{{post.body}}</p>
                <div class="heart-counter" id="{{post.id}}">
                    {% if user.is_authenticated %}
                        {% if post in posts_liked_by_user %}
                            <i onclick="changeHeart(event)" class="fa fa-heart" id="heart-liked"></i>
                        {% else %}
                            <i onclick="changeHeart(event)" class="fa fa-heart" id="heart"></i>
                        {% endif %}
                    {% else %}
                        <i class="fa fa-heart" id="heart"></i>
                    {% endif %}
                    <p class='count' id="p{{post.id}}">{{post.likes}}</p>
                </div>
                <p style="color:rgb(241, 241, 241);">{{post.timestamp}}</p>
                {% if user == post.user %}
                    <button onclick='handleEdit(event)' id="edit" class="btn btn-info">Edit</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}