{% extends 'auctions/layout.html' %}

{% block body %}
    <style>
        #auction {
            all: initial;
            display: flex;
            border: 2px solid rgb(190, 190, 190);
            border-radius: 8px;
            margin-bottom: 10px;
            background-color: rgb(216, 215, 215);
            cursor: pointer;
        }
        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        #auctions {
            overflow-y: scroll;
            height: 64vh;
        }

        #details {
            display: flex;
            flex-direction: column;
            padding: 20px;
            justify-content: space-around;
        }

        #createdat {
            color: grey;
        }
    </style>

    <h1>Your Listings</h1>
    <div id="auctions">
        {% for yourlist_item in yourlist_items %}
            <a id="auction" href="/auctions/{{yourlist_item.id}}">
                {% if yourlist_item.image_url %}
                    <img src="{{ yourlist_item.image_url }}" alt="{{ yourlist_item.image_url }}">
                {% else %}
                    <img src="https://cdn.neemo.com.br/uploads/settings_webdelivery/logo/2757/no-image.png" alt="No Image">
                {% endif %}
                <div id="details">
                    <h4>{{ yourlist_item.name }}</h4>
                    <strong>Price: {{ yourlist_item.price }}</strong>
                    <p id="createdat">Created at {{ yourlist_item.created_at }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}