{% extends 'closet/layout.html' %}

{% load static %}

{% block script %}
    <script src="{% static 'closet/closet.js' %}"></script>
{% endblock %}

{% block pagetitle %}{% endblock %}

{% block Header %}
<div id="closetheader">
    <select class="custom-select" id='headerfilter' onchange="handleChange(event)">
        <option hidden selected disabled value="">Filter by Category</option>
        <option>All</option>
        {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>
    <a href='/closet/create/category' class="btn btn-info categorybutton" style="color:white;">Add Category</a>
</div>

{% endblock %}

<input id='search' type="text" placeholder="Search">

{% block page %}
    <main id="closetpage">
        {% for cloth in clothes %}
            <div id='img{{cloth.id}}' class="closetimg" onmouseenter="handleItemMouseOver(event)">
                <img src="{{cloth.image.url}}">
            </div>
            <div style="display:none; background:#C850C0;" id="btn{{cloth.id}}" class="closetimg" onmouseleave="handleItemMouseOut(event)">
                <button class="btn btn-success" id="imgbtn">Add to</button>
                <a href="/closet/edit/item/{{cloth.id}}" class="btn btn-warning" id="imgbtn">Edit</a>
                <a href="/closet/delete/{{cloth.id}}" class="btn btn-danger" id="imgbtn">Delete</a>
            </div>
        {% endfor %}
        <a class="addimage" href="/closet/create/item">
            <i class="bi bi-plus-square-dotted addicon"></i>
        </a>
    </main>
{% endblock %}