{% extends 'closet/layout.html' %}

{% load static %}

{% block Header %}{% endblock %}

{% block body %}
    <main id="signinpage">
        {% if message %}
            <div class="alert alert-light" role="alert" style="color:red;font-size:20px;">
                <i class="bi bi-exclamation-triangle text-danger" style="font-size: 25px;"></i>
                {{ message }}
            </div>
        {% endif %}
        <form action="/closet/create/item" method="POST" class='signupform clothingform' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="signuplabel">Name*</label>
                <input class="form-control input" autofocus type="text" name="name" required>
            </div>
            <div class="form-group">
                <label class="signuplabel">Image*</label>
                <label for="image" id="selectimagebutton">Select Image</label>
                <input onchange='handleImageChange(event)' class="form-control-file input" type="file" name="image" 
                id="image" accept="image/png, image/jpg, image/jpeg, image/webp" required style="display:none;">
                <img class="previewimage" hidden>
            </div>
            <div class="form-group">
                <label class="signuplabel">Category</label>
                <select class="form-control input" name="category_id">
                    <option hidden disabled selected> -- select an option -- </option>
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" id="clothingbutton">Add to closet</button>
        </form>
    </main>
{% endblock %}