{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'virtualcloset/index.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inter:wght@400;900&display=swap" rel="stylesheet">
        <title>Virtual Closet</title>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h3 id="title">Virtual Closet</h3>

            <ul class="navbar-nav mr-auto header" id='navbar' >
                <li class='nav-li'>
                    <a class="nav-link" href="">Sign in</a>
                </li>
                <li class='nav-li'>
                    <a href="" id="signup"><button>Sing up</button></a>
                </li>
            </ul>
        </nav>
        <hr class="headerhr">
        {% block body %}
        {% endblock %}
    </body>
</html>